extends layout

block content
  section
    .container
      .row
        .col-md-4
            h1= title
            p Welcome to #{title}
        .col-md-4
            h1= title
            p Welcome to #{title}
        .col-md-4
            h1= title
            p Welcome to #{title}

